In [55]:
str_1 = input ('write your first name ')
str_2 = input ('write your last name ')
str_3 = str_2+' '+ str_1
print ( str_3 )

write your first name dali
write your last name dalii
dalii dali

In [57]:
str_1 = input ('write your first name ')
str_2 = input ('write your last name ')
print (str_2,str_1)

write your first name ines
write your last name bellaaj
bellaaj ines

In [15]:
n = input ('write a number')
nn = n + n
nnn = n + n + n
nbre = int(n) +int(nn) + int(nnn)
print (nbre)

write a number5
615

In [16]:
n = input ('write a number')
n = int (n)
nn = n*11
nnn = n*111
nbre = n + nn + nnn
print (nbre)

write a number5
615

In [22]:
n = input ('write a number')
n = int(n)
if n % 2 == 0:
    print ('it is an even number')
else:
    print ('it is an odd number')

write a number85
it is an odd number

In [58]:
n = input ('write a number')
if  n[-1]+n[-2] != '00'  and  int (n) % 4 == 0 :
    
    
            print ('it is a leap year')
else :
            print ('it is not a leap year')

write a number1850
it is not a leap year

In [33]:
ch = input ('write a name ')
result= ''
for i in range (len(ch)):
if i % 2 == 0 :
       result +=  ch[i]
print (result)

write a name hello team
hlota

In [36]:
ch = input ('write a name' )
result = ''
result = ch (0 , len(ch) , 2)

write a namehello team

TypeError: 'str' object is not callable

In [39]:
ch[::2]

'hlota'

In [53]:
n = int(input('write your price'))
if n >= 500 :
     n = n - (n/2)
elif  n>=200 and n<500 :
     n = n * 0.7 
else :
       n = n * 0.1
print (n)

write your price600
300.0